body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: [column-line-1] minmax(128px, 256px) [column-line-2] auto [column-line-3] minmax(256px, 256px) [column-line-4];
    grid-template-rows: [row-line-1] 48px [row-line-2] auto [row-line-3] auto [row-line-4] auto [row-line-5] auto [row-line-6];
    grid-gap: 6px;
    font-family: 'Roboto', sans-serif;
    background:#fafafa;
    /*Below provides sticky footer*/
    min-height: 100vh;
    color:#212121;
}

body > aside:not(.mdc-dialog) {
    background:white;
}

body > aside:not(.mdc-dialog) > section {
    margin: 0px 12px 0px 12px;
}

body > header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    background:white;
}

body > header > section {
    flex: 1 1 auto;
    align-self: center;
    min-width: 100%;
    min-height:48px;    
}

body > header > nav {
    flex: 0 1 auto;
    align-self: auto;
    min-width: 100%;
    min-height:48px;
    
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    
    margin-left:12px;
    margin-right:12px;
}

body > header > nav > section {
    flex: 1 1 auto;
    align-self: center;
    
    display: flex;
    flex-flow: row nowrap;    
    align-content: center;
    align-items: center;
    
    height:auto;
    width:50%;
}

body > header > nav > section:nth-of-type(1) {
    justify-content: flex-start;
}

body > header > nav > section:nth-of-type(2) {
    justify-content: flex-end;
}

body > header > nav > section > div {
    flex: 0 1 auto;
    align-self:center;
    
    display: flex;
    flex-flow: row nowrap;    
    align-content: center;
    align-items: center;  
    justify-content: center;
    
    margin: 0px 12px 0px 12px;
}

body > main {
    background:white;
}

body > main > section {
    padding: 5px 10px 5px 10px;
}

body > main > section > section {
    margin: 12px 0px 12px 0px;
}

body > main > section > section > section {
    margin: 0px 0px 12px 0px;
}

body > nav {
    background:white;
}
body > nav > section {
    display: grid;
    margin: 1em;
}

body > footer {
    grid-column-start: column-line-1;
    grid-column-end: column-line-4;
    grid-row: row-line-5;
    
    display: grid;
    grid-template-columns: [footer-column-line-1] 33% [footer-column-line-2] 33% [footer-column-line-3] 33% [footer-column-line-4];
    grid-template-rows: [footer-row-line-1] auto [footer-row-line-2] auto [footer-row-line-3] auto [footer-row-line-4];
    background:white;
}

body > footer > section {
    /*margin: 0px 12px 0px 12px;*/
}

body > footer > section > nav {
    display: grid;
    margin: 1em;
}

body > footer > section > aside {
    margin: 1em;
}

h1 {
    margin: 0;
    padding: 0;
    color:#424242;
}


#account-section-image {
    height: 30px;
    width: 30px;
    margin-right: 24px;
    background-image: url(/media/character.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
#account-section-image:hover {
    cursor: pointer;
}
#admin-submit-button {
    margin-left: 24px;
}
#apps-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(280px, 312px);
    grid-gap: 12px 12px;
}
#code-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-auto-rows: minmax(220px, auto);
    grid-gap: 4px 4px;    
}
#email {
    background-color: #4caf50;
    background-image: url("/media/gmail.svg");
}
#email-signin-section > div {
    flex: 0 1 auto;
    align-self: auto;    
}
#facebook {
    background-color: #3B5998;
    background-image: url("/media/facebook.svg");
}
#github {
    background-color: #212121;
    background-image: url("/media/github.svg");    
}
#google {
    background-color: #DB4937;
    background-image: url("/media/googleplus.svg");
}
#images-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(280px, 312px);
    grid-gap: 12px 12px;
}
#logo img {
    vertical-align: middle;
}
#profile-panel-3 > section > section > button {
    margin: 12px 24px 0px 0px;    
}
#page-title {
    margin: 8px 0px 0px -4px;
}
#top-banner {
    height: 0;
    padding-top: 13.66%;
    margin-bottom: 24px;
    background-image: url(/media/dna.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}
#twitter {
    background-color: #1DA1F2;
    background-image: url("/media/twitter.svg");
}
#vertical-spacer{
    margin: 12px 0px 12px 0px;
}

.align {
    vertical-align: middle;
}
.app-card > .mdc-card__actions{
    justify-content: flex-end;
    background-color:#fafafa;
}
.app-card > .mdc-card__primary > .mdc-card__title, .mdc-card__subtitle {
    line-height: 1.2em;
    height: 2.4em;
    overflow: hidden;
}
.background-blue-500{
    background-color: #2196f3;
}
.background-blue-700{
    background-color: #1976d2;
}
.background-green-500{
    background-color: #4caf50;
}
.background-green-700{
    background-color: #388e3c;
}
.background-orange-500{
    background-color: #ff9800;
}
.background-orange-700{
    background-color: #f57c00;
}
.background-purple-500{
    background-color: #9c27b0;
}
.background-purple-700{
    background-color: #7b1fa2;
}
.bold{
    font-weight:700;
}
.card__avatar{
    position:absolute;
    height: 48px;
    width: 48px;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;    
}
.contact{
    color:#ff6d00;
    font-weight:700;
}
.custom-anchor {
    text-decoration: none;
    color: #2962ff;
}
.custom-anchor:hover {
    color: #00c853;
}
.default-color{
    color:#212121;
}
.figure-profile {
    height: 48px;
    min-width: 48px;
    max-width: 300px;
}
.figure-profile img {
    height:48px;
    width:48px;
    border-radius: 50%;
}
.flex {
    display: flex;
}
.flex-column{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;    
}
.flex-column > button, input, span {
    flex: 0 1 auto;
    align-self: auto;    
}
.flex-item{
    flex: 0 1 auto;
    align-self: auto;    
}
.float-right{
    float: right;
}
.fork-image{
    background-image: url("/media/ic_call_split_white_18px.svg");
    height: 18px;
    width: 18px;
    margin-left: 12px;
}
.full-wide{
    min-width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
.github-image{
    background-image: url("/media/github.svg");
    margin:0px 12px 0px 12px;
}
.gray-anchor{
    color: black;
    text-decoration: none;    
}
.gray-500{
    color:#9e9e9e;
}
.gray-700{
    color:#616161;
}
.hidden {
    display: none !important;
}
.image-card{
    background-size: cover;
    background-repeat: no-repeat;    
}
.image-card > section {
    color:#212121;
    background-color: rgba(250,250,250,.7);
    text-transform: uppercase;
    font-weight: 700;
}
.margin-top-24{
    margin: 24px 0px 0px 0px;
}
.md-card__16-9-media {
    flex: 1 1 auto;
    background-image: url(/media/google-orange.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}  
.mdc-card__supporting-text{
    color:#fafafa;
    min-height: 96px;
}
.mdc-dialog__body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.mdc-dialog__body > section {
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;    
}
.mdc-dialog__surface {
    min-width: 300px;
    max-width: 420px;
}
.mdc-tab-bar {
    margin: initial;
}
.nav-span:hover{
    cursor: pointer;
}
.oin {
    color: #616161;
    font-size: .6em;
    vertical-align: 30%;
}
.panel {
    display:none;
}
.panel.active {
    display: initial;
}
.panel > section {
    margin:24px;
}
.provider {
    flex: 0 1 auto;
    align-self: auto;
    width: 256px;
    height: 48px;
    margin-top: 12px;
    text-align: center;
    line-height: 48px;
    color: #fafafa;
    text-transform: uppercase;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10%;
    -webkit-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.4);    
}
.provider:focus {
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.4);
}
.provider:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.6);
}
.pseudo-anchor {
    font-weight: 400;
    color:#448aff;
}
.pseudo-anchor:hover {
    cursor: pointer;
}
.quote{
    margin: 24px 36px 24px 36px;
    border-style: solid;
    border-color: #ffd600;
    border-width: 0px 0px 0px 8px;
    padding:12px;
    color: #616161;
}
.quote-div{
    background:#fafafa;
    margin: 0px 0px 24px 0px;
    border: solid #2962ff;
    border-width: 0px 0px 0px 8px;
    min-height: 4em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;    
}
.quote-span{
    margin-left:24px;
}
.star-image{
    background-image: url("/media/ic_star_white_18px.svg");
    height: 18px;
    width: 18px;
}
.textarea-wrapper{
    width:100%;
}
.textarea-wrapper > div {
    width:100%;
    min-height: 128px;
}
.wide-inputs{
    min-width: 300px;
}

@media screen and (max-width: 479px) {
    header {
        grid-column-start: column-line-1;
        grid-column-end: column-line-4;
    }
    main {
        grid-column-start: column-line-1;
        grid-column-end: column-line-4;
        grid-row: row-line-2;
    }
    nav {
        grid-column-start: column-line-1;
        grid-column-end: column-line-4;
        grid-row: row-line-3;
    }
    aside {
        grid-column-start: column-line-1;
        grid-column-end: column-line-4;
        grid-row: row-line-4;
    }
    body > footer > section:nth-of-type(1) {
        grid-column-start: footer-column-line-1;
        grid-column-end: footer-column-line-4;
        grid-row: footer-row-line-1;
    }
    body > footer > section:nth-of-type(2) {
        grid-column-start: footer-column-line-1;
        grid-column-end: footer-column-line-4;
        grid-row: footer-row-line-2;
    }
    body > footer > section:nth-of-type(3) {
        grid-column-start: footer-column-line-1;
        grid-column-end: footer-column-line-4;
        grid-row: footer-row-line-3;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    aside {
        grid-column: column-line-1;
        grid-row: row-line-2;
    }
    nav {
        grid-column: column-line-1;
        grid-row-start: row-line-3;
        grid-row-end: row-line-5;
    }
    main {
        grid-column: column-line-2 / column-line-4;
        grid-row-start: row-line-1;
        grid-row-end: row-line-5;
    }
    body > footer > section:nth-of-type(1) {
        grid-column-start: footer-column-line-1;
        grid-column-end: footer-column-line-2;
        grid-row: footer-row-line-1;
    }
    body > footer > section:nth-of-type(2) {
        grid-column-start: footer-column-line-2;
        grid-column-end: footer-column-line-3;
        grid-row: footer-row-line-1;
    }
    body > footer > section:nth-of-type(3) {
        grid-column-start: footer-column-line-3;
        grid-column-end: footer-column-line-4;
        grid-row: footer-row-line-1;
    }
}

@media screen and (min-width: 640px) {
    header {
        grid-column-start: column-line-1;
        grid-column-end: column-line-4;
    }
    nav {
        grid-column: column-line-1;
        grid-row-start: row-line-2;
        grid-row-end: row-line-5;
    }
    aside {
        grid-column: column-line-3;
        grid-row-start: row-line-2;
        grid-row-end: row-line-5;
    }
    main {
        grid-column: column-line-2;
        grid-row-start: row-line-2;
        grid-row-end: row-line-5;
    }
    body > footer > section:nth-of-type(1) {
        grid-column-start: footer-column-line-1;
        grid-column-end: footer-column-line-2;
        grid-row: footer-row-line-1;
    }
    body > footer > section:nth-of-type(2) {
        grid-column-start: footer-column-line-2;
        grid-column-end: footer-column-line-3;
        grid-row: footer-row-line-1;
    }
    body > footer > section:nth-of-type(3) {
        grid-column-start: footer-column-line-3;
        grid-column-end: footer-column-line-4;
        grid-row: footer-row-line-1;
    }
}